<!DOCTYPE html>
<html>
<head>
  <title><%%= yield(:title) || "Wagon Rails" %></title>
  <meta name="description" content="<%%= (yield(:description) || "").squish %>">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%%= stylesheet_link_tag :application, media: "all" %>
  <%%= csrf_meta_tags %>
</head>
<body>
  <%%= render "shared/navbar" %>
  <%%= render "shared/flashes" %>

  <%%= yield %>

  <%%= javascript_include_tag :application %>
  <%%= yield(:after_js) %>

</body>
</html>
